VITE_SERVER_URL=https://your-backend.onrender.com
VITE_TURN_URL=turn:global.relay.metered.ca:80,turn:global.relay.metered.ca:80?transport=tcp,turn:global.relay.metered.ca:443,turns:global.relay.metered.ca:443?transport=tcp
VITE_TURN_USERNAME=3daeae75b43bb22e45495e6f
VITE_TURN_CREDENTIAL=jFH/8QDWnTi1oPz4
